# Configuration des ports Docker
API_PORT=3000
MONGODB_PORT=27017
REDIS_PORT=6379

# Configuration MongoDB
MONGODB_URI=mongodb://mongodb:27017/grammachat
MONGODB_DATABASE=grammachat

# Configuration API
NODE_ENV=development
API_HOST=0.0.0.0
JWT_SECRET=quelque_chose_est_ici_haha
JWT_EXPIRES_IN=7d

# Configuration Redis
REDIS_URL=redis://redis:6379

# LanguageTool API
LANGUAGETOOL_API_URL=https://api.languagetool.org/v2/check
LANGUAGETOOL_API_KEY=

# Configuration XP et Gamification
XP_PER_CHARACTER=1
XP_BONUS_NO_ERRORS=10
XP_PENALTY_PER_ERROR=5
LEVEL_UP_THRESHOLD=100

# Configuration des notifications
EXPO_PUSH_TOKEN=quelque_chose_est_ici_haha

# Configuration CORS
CORS_ORIGIN=*

# Configuration Docker
DOCKER_USERNAME=
DOCKER_PASSWORD=

# Configuration Snyk
SNYK_TOKEN=

# Configuration Webhook
DEV_DEPLOY_WEBHOOK = http://10.6.0.7:9000/webhook
PROD_DEPLOY_WEBHOOK = http://10.6.0.7:9000/webhook
WEBHOOK_PORT=9000

# Configuration Channel Slack (pas encore configuré correctement)
# SLACK_WEBHOOK=https://hooks.slack.com/services/XXX/YYY/ZZZ
